<%- include('partials/header', {title: title}) %>

<main>
    <h1>Categories</h1>
    <% categories.forEach(cat => { %>
        <div class="category">
            <div>
                <h3>Name: <%= cat.name %></h3>
                <span>Description: <%= cat.description %></span>
            </div>
            <div>
                <button class="del" onclick="showOverlay(<%= cat.id %>)">Delete</button>
                <a href="/category/edit/<%= cat.id %>">
                    <button class="edit">Edit</button>
                </a>
            </div>
        </div>
    <% }) %>
</main>
<script defer>
  function showOverlay (id) {
    const overlay = document.querySelector('#confirm-overlay')
    const darkOverlay = document.querySelector('.dark-overlay')
    overlay.dataset.id = id
    overlay.classList.add('show')
    darkOverlay.classList.add('show')
    console.log(window.screenY)
    darkOverlay.style.top = `${window.scrollY}px`
    darkOverlay.style.bottom = `-${window.scrollY}px`
    const btnYes = document.querySelector('#yes')
    btnYes.href = `/category/delete/${id}`
  }
</script>
<%- include('partials/confirm-overlay', {from: 'Category'}) %>
<%- include('partials/footer') %>